<div class="formulario">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" [(ngModel)]="nuevoProducto.nombre">
    </div>
    <div class="form-group">
        <label>Catidad {{ nuevoProducto.cantidad }}</label>
        <input type="range" min="0" max="20" step="1" [(ngModel)]="nuevoProducto.cantidad">
    </div>
    <div class="form-group">
        <label>Categoria</label>
        <select [(ngModel)]='nuevoProducto.categoria'>
            <option value="carnes">Carnes</option>
            <option value="frutas">Frutas</option>
            <option value="hogar">Hogar</option>
            <option value="panaderia">Panadería</option>
        </select>
    </div>
    <button (click)='onClick()'>Enviar</button>
</div>


